@{
    ViewData["Title"] = "Checkout Details";
    Layout = "~/Views/Shared/_CheckoutLayout.cshtml";
}

@model Codecool.CodecoolShop.Models.BillingModel

<div class="row">
    <div class="col-md-4 order-md-2 mb-4">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Your cart</span>
            <span class="badge badge-secondary badge-pill"></span>
        </h4>
        <ul class="list-group mb-3"></ul>
    </div>
    <div class="col-md-8 order-md-1">
        <h4 class="mb-3">Billing address</h4>
        @using (Html.BeginForm())
        {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row">
            <div class="col-md-6 mb-3">
                @Html.LabelFor(model => model.FirstName,
                                @Html.DisplayNameFor(model => model.FirstName) + " *")

                @Html.EditorFor(model => model.FirstName, new
                    {
                        htmlAttributes =
                        new { @class = "form-control", placeholder = "Ex: John" }
                    })

                @Html.ValidationMessageFor(model => model.FirstName, "",
                new { @class = "text-danger" })
            </div>
            <div class="col-md-6 mb-3">
                @Html.LabelFor(model => model.LastName,
                                @Html.DisplayNameFor(model => model.LastName) + " *")

                @Html.EditorFor(model => model.LastName, new
                    {
                        htmlAttributes =
                        new { @class = "form-control", placeholder = "Ex: Doe" }
                    })

                @Html.ValidationMessageFor(model => model.LastName, "",
                new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3 email">
                @Html.LabelFor(model => model.Email,
                                @Html.DisplayNameFor(model => model.Email) + " *")

                @Html.EditorFor(model => model.Email, new
                    {
                        htmlAttributes =
                        new { @class = "form-control", placeholder = "Ex: you@example.com" }
                    })

                @Html.ValidationMessageFor(model => model.Email, "",
                new { @class = "text-danger" })
            </div>

            <div class="col-md-6 mb-3 phone">
                @Html.LabelFor(model => model.PhoneNumber,
                                @Html.DisplayNameFor(model => model.PhoneNumber) + " *")

                @Html.EditorFor(model => model.PhoneNumber, new
                    {
                        htmlAttributes =
                        new { @class = "form-control", placeholder = "Include Country Code" }
                    })

                @Html.ValidationMessageFor(model => model.PhoneNumber, "",
                new { @class = "text-danger" })
                <div class="invalid-feedback"></div>
            </div>
        </div>

        <div class="mb-3 address">
            @Html.LabelFor(model => model.Address,
                                @Html.DisplayNameFor(model => model.Address) + " *")

            @Html.EditorFor(model => model.Address, new
                {
                    htmlAttributes =
                    new { @class = "form-control", placeholder = "Ex: 1234 Main St" }
                })

            @Html.ValidationMessageFor(model => model.Address, "",
            new { @class = "text-danger" })
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                @Html.LabelFor(model => model.Country,
                                @Html.DisplayNameFor(model => model.Country) + " *")

                @Html.DropDownListFor(model => model.Country,
                                        new List<SelectListItem>(),
                                        new { @class = "custom-select d-block w-100" })

                @Html.ValidationMessageFor(model => model.Country, "",
                    new { @class = "text-danger" })
            </div>
            <div class="col-md-6 mb-3">
                @Html.LabelFor(model => model.City,
                                @Html.DisplayNameFor(model => model.City) + " *")

                @Html.DropDownListFor(model => model.City,
                                        new List<SelectListItem>(), new { @class = "custom-select d-block w-100" })

                @Html.ValidationMessageFor(model => model.City, "",
                    new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                @Html.LabelFor(model => model.ZipCode,
                                @Html.DisplayNameFor(model => model.ZipCode) + " *")

                @Html.EditorFor(model => model.ZipCode, new
                    { htmlAttributes =
                        new { @class = "form-control",
                            placeholder = @Html.DisplayNameFor(model => model.ZipCode)}
                    })

                @Html.ValidationMessageFor(model => model.ZipCode, "",
                new { @class = "text-danger" })
            </div>
        </div>

        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Go to Payment</button>
        }
    </div>
</div>

@section Scripts {
    <script type="module" src="~/js/checkoutPage.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
}
