@{
    ViewData["Title"] = "Home Page";
}

@model List<Codecool.CodecoolShop.Models.Product>

<form  asp-area="" asp-controller="Product" asp-action="Index">
    <div class="sort-control-group">
        <div class="sort-control-item">
            <label for="sort_by_category">Sort by Category:</label>
            <select name="category">
                @if (ViewBag.CurrentCategory == 0)
                {
                    <option value="0" selected>All</option>
                }
                else
                {
                    <option value="0">All</option>
                }
                @foreach (var category in ViewBag.Categories)
                {
                    @if (ViewBag.CurrentCategory == category.Id)
                    {
                        <option value="@category.Id" selected>@category.Name</option>
                    }
                    else
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                }
            </select>
        </div>
        <div class="sort-control-item">
            <label for="sort_by_suppliers">Sort by Suppliers:</label>
            <select name="supplier">
                @if (ViewBag.CurrentSupplier == 0)
                {
                    <option value="0" selected>All</option>
                }
                else
                {
                    <option value="0">All</option>
                }
                @foreach (var supplier in ViewBag.Suppliers)
                {
                    @if (ViewBag.CurrentSupplier == supplier.Id)
                    {
                        <option value="@supplier.Id" selected>@supplier.Name</option>
                    }
                    else
                    {
                        <option value="@supplier.Id">@supplier.Name</option>
                    }
                }
            </select>
        </div>

        <button name="sort" type="submit">Sort</button>
    </div>
</form>

<div class="container">
    

    <div class="cards">
        @foreach (var element in Model)
        {
            <div class="card">
                <img src="img/@(element.Name).jpg">

                <div class="card-body">
                    <h5 class="card-title text-center">
                        Product
                        @{ var num = Model.IndexOf(element) + 1;}
                        @num
                    </h5>
                    <h5 class="card-title">@element.Name</h5>
                    <p class="card-text">@element.Description.Substring(0, 70)...</p>
                    <p class="card-text">Category: @element.ProductCategory.Department</p>
                    <p class="card-text">Supplier: @element.Supplier.Name</p>
                    <p class="card-text text-center"><strong>Price: @element.DefaultPrice.ToString("C2")</strong></p>
                    <a href="" id="add-to-cart" data-product-id="@element.Id" data-product-name="@element.Name" type="button"
                       data-price="@element.DefaultPrice" data-currency="@element.Currency" class="btn btn-primary">Add To Cart
                    </a>
                </div>
            </div>
        }
    </div>
     
</div>
